<div class="todo-item {% if task.completed %} completed {% endif %}">
    <div class="description">
        <a class="todo_title micro-margin-bot" id='todo-title' href="{% url "todo:edit" task.id %}">{{task.title}}</a>
        <p id='todo-created' class="todo_created smlst-fs">{{ task.created_at |date:"g:i a d/n/Y"}} 
            {% if task.completed  %}<span class="todo_completed smlst-fs">| {{ task.completed_at |date:"g:i a d/n/Y"}} </span>{% endif %}
        </p>
    </div>
    <div class="action-buttons center">
        {% if task.completed %}
            <a href="{% url "todo:changeCompleteStatus" task.id %}"><i class="fa-solid fa-square-check fa-xl"></i></a>
        {% else %}
            <a href="{% url "todo:changeCompleteStatus" task.id %}"><i class="fa-regular fa-square fa-xl"></i></a>
        {% endif %}
        
        <a href="{% url "todo:edit" task.id %}"><i class="fa-solid fa-pen"></i></a>
        <a onclick=openModal({{task.id}})><i class="fa-solid fa-trash"></i></a>
    </div>

</div>    

