{% include "todolist/partials/_head.html" %}
</head>
<body>
    {% include "todolist/partials/_header.html" %}

    <div class="separator"></div>

    <main class="max-width">
        <div class="container max-width form-container">
            <h4>{{ action }} a task</h4>
            <form action="{{ form_action }}" method='POST'>
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-input">
                        <label for="task_title">Title</label>
                        <input type="text" name='task_title' maxlength='50' value='{{ title }}' required>
                    </div>
                    <div class="form-buttons">
                        <a class="form-button cancel-button"  href="{% url "todo:index" %}">Cancel</a>
                        {% comment %} <button class="form-button confirm-button" type="submit">Cancel</button> {% endcomment %}
                        <button class="form-button confirm-button" type="submit">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="separator base-mt"></div>
        <p class="center">ベランド</p>
    </footer>
</body>
</html>