{% include "global/partials/_head.html" %}
</head>
<body>
    {% include "global/partials/_header.html" %}

    {% include "global/partials/_user.html" %}
    <div class="separator"></div>
    {% if user.is_authenticated %}
    <main class="max-width">
        <div class="container max-width">
            
            {% include "global/partials/_messages.html" %}

            <div class="filters">
                <a id='new-task' href="{% url "todo:create" %}">Add task</a>
                <div class="filters-list">
                    <a {% if not filter %} class='selected' {% endif %} href="{% url "todo:index" %}">All</a>
                    <a {% if filter == 'completed' %} class='selected' {% endif %} href="{% url "todo:completed" %}">Completed</a>
                    <a {% if filter == 'pending' %} class='selected' {% endif %} href="{% url "todo:pending" %}">Pending</a>
                </div>
            </div>

            <div class="main-content micro-mt">
                {% if tasks %}
                    <div class="todo-items">
                        {% for task in tasks  %}
                            {% include "global/partials/_todoitem.html" %}
                        {% endfor %}
                    </div>
                
                {% elif not tasks and not filter %}
                    <h3 class='center nothingFound'>Nada encontrado. Clique <a class='link-hint' href="{% url "todo:create" %}">aqui</a> para criar sua primeira task</h3>
                {% else %}
                    <h3 class='center nothingFound'>Nada encontrado. Clique <a class='link-hint' href="{% url "todo:index" %}">aqui</a> para voltar ao início</h3>
                {% endif %}
            </div>
        </div>
    </main>

    {% include "global/partials/_footer.html" %}

    {% include "global/partials/_modal.html" %}

    <script>
        var modal = document.getElementById('modal');
        var span = document.getElementsByClassName("close")[0];
        var deleteLink = document.getElementById('deleteLink'); // Novo
        var cancelButton = document.getElementById('cancelButton')
            
        function openModal(id){
            deleteLink.href = `{% url 'todo:delete' 9999999999 %}`
            deleteLink.href = deleteLink.href.replace('9999999999', id)
            modal.style.display = "grid";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        cancelButton.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        } 
    </script>
    {% else %}
        <h3 class='center nothingFound'><a class='link-hint' href="{% url "todoUser:login" %}">Faça login</a> para poder visualizar suas tasks</h3>
    {% endif %}

    {% include "global/partials/_script.html" %}
    
</body>
</html>

